@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@font-face {
	font-family: 'Bebas Neue';
	src: url('assets/font/BebasNeue-Regular.woff');
	src: url('assets/font/BebasNeue-Regular.woff2') format('embedded-opentype'),
		url('assets/font/BebasNeue-Regular.woff') format('woff'),
		url('assets/font/BebasNeue-Regular.woff') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'Coolvetica Regular';
    src: url('assets/font/coolvetica\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Regular It';
    src: url('assets/font/coolvetica\ rg\ it.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Condensed Regular';
    src: url('assets/font/coolvetica\ condensed\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Compressed Regular';
    src: url('assets/font/coolvetica\ compressed\ hv.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Coolvetica Crammed Regular';
    src: url('assets/font/coolvetica\ crammed\ rg.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
	--bg-primary: rgb(30, 124, 211);
	--bg-primary-rgb: rgb(30, 124, 211);
}

.bbn-font {
	font-family: 'Bebas Neue';
}

.clv-rg-font {
	font-family: 'Coolvetica Regular';
}

.clv-rg-it-font {
	font-family: 'Coolvetica Regular It';
}

.clv-cd-rg-font {
	font-family: 'Coolvetica Condensed Regular';
}

.clv-cp-rg-font {
	font-family: 'Coolvetica Compressed Regular';
}

.clv-cr-rg-font {
	font-family: 'Coolvetica Crammed Regular';
}


body {
	background-image: url(assets/img/back/sfondo_piume_Wix.webp);
	background-size: cover;
	background-attachment: fixed;
}

nav {
	/*position: fixed;*/
	background-color: var(--bg-primary);
	font-size: 1.5vw;
	color: white;
	transition: top 0.3s;
}

footer {
	background-color: var(--bg-primary);
}

.my-shadow {
	box-shadow: 0 -.5rem 1rem rgba(var(--bs-body-color-rgb),.15) !important;
}

li {
	border-right: 2px solid white;
	padding-right: 2px;
}

li:last-child {
	border: none;
}


.my-container h1 {
	font-size: 4vw;
}

.my-container .content {
	font-size: 2.5vw;
	line-height: normal;
}

.unisciti {
	padding: 0px 50px;
}

/*.title-img {
	content: url(assets/img/back/navbar.webp);
}*/

.yt-trailer {
	position: relative;
	padding-bottom: 56.25%;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.chop-img {
	width: 15vw;
	aspect-ratio: 1/1;
	position: absolute;
}

#music-chop {
	width: 15vw;
	aspect-ratio: 71/47;
	position: absolute;
}

#sleep-chop {
	top: 1000px
}

#cool-chop {
	top: 500px;
}

#mammaMia-chop {
	top: 1200px;
}

#classic-chop {
	top: 2000px
}

.chop-right {
	right: 100px;
}

.chop-left {
	left: 100px;
}

/* Questo tag è usato per dare le caratteristiche al link ENTRA NEL TEAM, devo capire come togliere
la linea di sotto */
#entry {
	text-decoration: none;
	color: white;
}


/* Media query standard trovate su internet */

@media screen and (min-width: 1200px) {
	

	.position-title {
		font-size: 70px;
	}
	
	.position-subtitle {
		font-size: 60px;
	}
}

@media screen and (max-width: 1820px) {

	nav {
		font-size: 2vw;
	}
}

@media screen and (max-width: 1200px) {

	#rich-chop {
		right: 1%;
	}

	#classic-chop {
		right: 1%;
	}

	nav {
		font-size: 2.5vw;
	}

	.my-container h1 {
		font-size: 5vw;
	}
	
	.my-container .content {
		font-size: 3.5vw;
	}

	.chop-left {
		display: none;
	}
}
@media screen and (max-width: 1820px) {

	#classic-chop {
		display: none;
	}
}

@media screen and (max-width: 990px) {
	
	nav {
		font-size: 3vw;
	}

	.my-container h1 {
		font-size: 5.5vw;
	}
	
	.my-container .content {
		font-size: 4vw;
	}
}

@media screen and (max-width: 769px) {

	nav {
		font-size: 25px;
	}

	.my-container h1 {
		font-size: 6.2vw;
	}
	
	.my-container .content {
		font-size: 4.7vw;
	}
}

@media screen and (max-width: 769px) {
	.chop-right {
		display: none;
	}

	.my-container .content{
		padding-bottom: 25px;
	}

	.yt-trailer {
		padding-top: 25px;
	}
}

@media screen and (max-width: 432px) {

	.my-container .content{
		padding-bottom: 10px;
	}

	.yt-trailer {
		padding-top: 10px;
	}
}
